{% extends "base.html" %}

{% block lab %}РГЗ{% endblock %}

{% block main %}
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
    form {
        display: inline;
    }
</style>
</head>
<body>
    <h1>Корзина</h1>
    {% if products %}
    <ul>
        {% for product in products %}
            <li>
                <b>{{ product['name'] }}</b> - <b>{{ product['price'] }}$</b>
                <form action="/remove_from_cart" method="post">
                    <input type="hidden" name="product_id" value="{{ product['name'] }}">
                    <input type="submit" value="Удалить">
                </form>
            </li>
        {% endfor %}
    </ul>
    
{% else %}
    <p>Ваша корзина пуста</p>
{% endif %}
<a href="/" >Главная страница</a>
</body>
{% endblock %}