{% extends "base.html" %} 
 
{% block lab %}РГЗ{% endblock %} 
 
{% block main %} 
<style>
    a{
    color: rgb(144, 0, 247);
    text-decoration: none;
    transition: 300ms ;
    }
    a:hover{
    color: rgb(0, 217, 255);
    text-decoration: underline;
    background-color: rgb(145, 62, 228);
    font-weight: bold;
    transition: 700ms 0.3s;
    }
    ul {
    list-style-type: none; /* Убирает буллиты */
   }
</style>
    <div style="display: flex; justify-content: space-between;">
        <p style="color: rgb(54, 42, 165); font-size: 25px;">Онлайн-магазин Мебельный мир</p>

        <a href="/korzina">Корзина</a>
        
        
        
        <div style="font-size: 20px;">
            <span>{{username}}</span>
            <a href="/login" style="border: 2px solid blue; padding: 5px 10px; border-radius: 5px;">Войти</a>
            <a href="/register" style="border: 2px solid blue; padding: 5px 10px; border-radius: 5px;">Регистрация</a>
            <a href="logout" style="border: 2px solid blue; padding: 5px 10px; border-radius: 5px;">Выход</a>
            <a href="/delete_account" style="border: 2px solid blue; padding: 5px 10px; border-radius: 5px;">Удалить аккаунт</a>
            
        </div>
    </div>

    <div style="text-align: center;">
    <h2>Welcome, {{ username }}!</h2>

        </ul>
            
        {% for product in products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} $</p>
            
                <form action="/add_to_cart" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="number" name="kolvo" value="1" min="1">
                    <button type="submit">Добавить в корзину</button>
                </form>
        </div>
        {% endfor %}
    </div>
</body>
    
{% endblock %}